<!-- recent_post.html -->

<div class="recent-posts-container">
  <div class="a">
    <p class="recent-posts">Recent posts</p>
    <p class="view-all">View all</p>
  </div>
  {% for item in posts %}
  <div class="posts-recents">
    <div class="posts-title"><b>{{ item.title }}</b></div>
    <div>
      <p class="feb-2020">{{ item.date|date:"M" }} {{ item.date|date:"d" }}, {{ item.date|date:"Y" }}</p>
      <p class="design-pattern">Design, Pattern</p>
    </div>
    <div class="amet-minim-mollit1">{{ item.body|truncatechars:200 }}</div>
  </div>
  {% endfor %}
</div>

i want posts-recents class to be rendered side by side on the web and below a class and all inside container recent-posts-container class
how can i do this with css?