how can i display FeaturedPosts in my template?

view.py=>
class HomeView(View):
    template_name = 'home.html'

    def get_context_data(self, **kwargs):
        context = {
            'profile': UserProfile.objects.all(),
            'posts': RecentPosts.objects.all()[:2],
            'featured': FeaturedPosts.objects.all(),
        }
        return context

    def get(self, request, *args, **kwargs):
        return render(request, self.template_name, self.get_context_data())

model.py=>
class FeaturedPosts(models.Model):
    title = models.CharField(max_length=50)
    title_type = models.CharField(max_length=20)
    body = models.TextField()
    date = models.DateTimeField(auto_now_add=True)
    img = models.ImageField(upload_to='featured_imgs', blank=True, null=True)

    def __str__(self):
        return self.title
    
    def get_absolute_url(self):
        return reverse("featured_post_detail", kwargs={"pk": self.pk})