<div class="featured-works">Featured works</div>
  
      <b class="designing-dashboards">Designing Dashboards</b>
      <b class="vibrant-portraits-of">Vibrant Portraits of 2020</b>
      <b class="days-of-malayalam">36 Days of Malayalam type</b>
      <div class="dashboard">Dashboard</div>
      <div class="illustration">Illustration</div>
      <div class="typography">Typography</div>
      <div class="amet-minim-mollit3">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </div>
      <div class="amet-minim-mollit4">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </div>
      <div class="amet-minim-mollit5">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </div>
      <div class="home-child4"></div>
      <div class="home-child5"></div>
      <div class="home-child6"></div>
      <div class="div">2020</div>
      <div class="div1">2018</div>
      <div class="div2">2018</div>
      <img class="home-child7" alt="" src="./public/vector-8.svg" />

      <img class="home-child8" alt="" src="./public/vector-8.svg" />

      <img class="home-child9" alt="" src="./public/vector-8.svg" />

      <img class="rectangle-icon" alt="" src="./public/rectangle-30@2x.png" />

      <img class="home-child10" alt="" src="./public/rectangle-32@2x.png" />

      <img class="home-child11" alt="" src="./public/rectangle-34@2x.png" />