<!-- This is the HTML Component for Profile -->

{% load static %}
<section>
  {% for profile in profile %}
  <div class="profile-container">
    <div class="bio-container">
      <p class="profile-title">{{ profile.my_title }}</p>
      <p class="profile-bio">{{ profile.bio }}</p>
      <div class="profile-resume"><a href="{{ profile.get_resume_url }}">Download Resume</a></div>
    </div>
    <div class="image-container">
      {% if profile.pics %}
        <img class="profile-img" src="{{ profile.get_profile_pic_url }}" alt="{{ profile.title }}'s Profile Picture">
      {% endif %}
    </div>
  </div>
</section>
{% endfor %}
