
<div class="rectangle-div"></div>
<div class="home-child1"></div>
<div class="home-child2"></div>

<div class="recent-posts">Recent posts</div>
<div class="view-all">View all</div>
{% for item in posts %}
<b class="making-a-design">{{ item.title }}</b>
<div class="feb-2020">{{ item.date|date:"M" }} {{ item.date|date:"d" }}, {{ item.date|date:"Y" }}</div>
<div class="design-pattern">Design, Pattern</div>
<div class="amet-minim-mollit1">{{ item.body|truncatechars:200 }}</div>
{% endfor %}

      <!--<b class="creating-pixel-perfect"
        >Creating pixel perfect icons in Figma</b>
      
      <div class="figma-icon-design">Figma, Icon Design</div>
      <img class="vector-icon" alt="" src="./public/vector-1.svg" />

      <img class="home-child3" alt="" src="./public/vector-1.svg" />

      
      <div class="feb-20201">12 Feb 2020</div>
      
      <div class="amet-minim-mollit2">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </div>-->