<!-- userprofile_list.html -->

{% extends 'base.html' %}

{% block content %}
  <h1>User Profiles</h1>
  <ul>
    {% for userprofile in userprofile_list %}
      <li>
        <h2>{{ userprofile.title }}</h2>
        <p><strong>Bio:</strong> {{ userprofile.bio }}</p>
        <p><strong>Resume:</strong> <a href="{{ userprofile.get_resume_url }}">Download Resume</a></p>
        {% if userprofile.pics %}
          <img src="{{ userprofile.get_profile_pic_url }}" alt="{{ userprofile.title }}'s Profile Picture">
        {% endif %}
        <!-- You can add more information here as needed -->
        <!--<p><a href="{% url 'userprofile_detail' pk=userprofile.pk %}">View Details</a></p>-->
      </li>
    {% endfor %}
  </ul>
{% endblock %}
